var template_person = `

<%


//----------------------------------------------------------------------------------------
// https://codepen.io/goker/pen/yBEGD

    var templates = {
        prefix: "",
        suffix: " ago",
        seconds: "less than a minute",
        minute: "about a minute",
        minutes: "%d minutes",
        hour: "about an hour",
        hours: "about %d hours",
        day: "a day",
        days: "%d days",
        month: "about a month",
        months: "%d months",
        year: "about a year",
        years: "%d years"
    };
    var template = function (t, n) {
        return templates[t] && templates[t].replace(/%d/i, Math.abs(Math.round(n)));
    };

    var timer = function (time) {
        if (!time) return;
               
        time = time.replace(/\\.\\d+/, ""); // remove milliseconds
        time = time.replace(/-/, "/").replace(/-/, "/");
        time = time.replace(/T/, " ").replace(/Z/, " UTC");
        time = time.replace(/([\\+\\-]\\d\\d)\\:?(\\d\\d)/, " $1$2"); // -04:00 -> -0400        
        
        time = new Date(time * 1000 || time);
        
        var now = new Date();
        var seconds = ((now.getTime() - time) * .001) >> 0;
        var minutes = seconds / 60;
        var hours = minutes / 60;
        var days = hours / 24;
        var years = days / 365;

        return templates.prefix + (
        seconds < 45 && template('seconds', seconds) || seconds < 90 && template('minute', 1) || minutes < 45 && template('minutes', minutes) || minutes < 90 && template('hour', 1) || hours < 24 && template('hours', hours) || hours < 42 && template('day', 1) || days < 30 && template('days', days) || days < 45 && template('month', 1) || days < 365 && template('months', days / 30) || years < 1.5 && template('year', 1) || template('years', years)) + templates.suffix;
    };



if (item['@graph']) {
	item = item['@graph'][0];
}


%>


<!-- title -->
<h1>
	<img src="images/noun_User_2283219.svg" height="48" align="center">
	<%= get_literal(item.name) %>
	<%= get_literal(item['dc:title']) %>
	<%= get_literal(item['foaf:name']) %>
</h1>

<!-- identifiers -->
<div>
		<span class="heading">Unique identifier</span>
		
		<!-- URN -->
		<% if (item['@id'].match(/^urn/)) { %>
			<a class="external" href="http://www.lsid.info/<%=item['@id']%>" target="_new">
			<%= item['@id'] %>
			</a>		
		<% } %>

		<!-- ORCID -->
		<% if (item['@id'].match(/orcid.org/)) { %>
			<!-- <img src="images/orcid_16x16.png"> -->
			<a class="external" href="<%=item['@id']%>" target="_new">
			<%= item['@id'] %>
			</a>
		<% } %>
		
		<!-- local id -->
		<% if (item['@id'].match(/#/)) { %>
			<a href="?uri=<%= item['@id'].replace('#', '%23') %>">
			<%= item['@id'] %>
			</a>		
		<% } %>
		
		
</div>

<!-- sameAs -->
<div>
	<% if (item['sameAs']) { %>
		<span class="heading">Same as</span>
			<% if (Array.isArray(item['sameAs'])) {	%>
				<ul>
				<% for (var i in item['sameAs']) { %>
					<li>
					<a href="?uri=<%= item['sameAs'][i].replace('#', '%23') %>">
						<%= item['sameAs'][i] %>
					</a>
					</li>
				<% } %>
				</ul>
			<% }  else { %>
				<a href="?uri=<%= item['sameAs'].replace('#', '%23') %>">
					<%= item['sameAs'] %>
				</a>
			<% } %>
		</span>
	<% } %>	
</div>

<!-- owl:sameAs -->
<div>
	<% if (item['owl:sameAs']) { %>
		<span class="heading">Same as</span>
			<% if (Array.isArray(item['owl:sameAs'])) {	%>
				<ul>
				<% for (var i in item['owl:sameAs']) { %>
					<li>
					<a href="?uri=<%= item['owl:sameAs'][i].replace('#', '%23') %>">
						<%= item['owl:sameAs'][i] %>
					</a>
					</li>
				<% } %>
				</ul>
			<% }  else { %>
				<a href="?uri=<%= item['owl:sameAs'].replace('#', '%23') %>" >
					<%= item['owl:sameAs'] %>
				</a>
			<% } %>
		</span>
	<% } %>	
</div>

<!-- other names -->
<div>
	<% if (item['tp:alias']) {
		var other_names = [];
		for (var i in item['tp:alias']) {
			var parts = [];
			
			if (item['tp:alias'][i]['tp:forenames']) {
				parts.push(item['tp:alias'][i]['tp:forenames']);
			}
			if (item['tp:alias'][i]['tp:surname']) {
				parts.push(item['tp:alias'][i]['tp:surname']);
			} 
			
			var name = parts.join(' ');
			if (other_names.indexOf(name) === -1) {
				other_names.push(name);
			}
		} %>
		<%- other_names.join('; '); %>
		
	<% }%>

</div>

<!-- lifespan -->
<% if (item['tp:lifeSpan']) { %>
	<div>
		<span class="heading">Lifespan</span>
		<%= get_literal(item['tp:lifeSpan']) %>
	</div>
<% } %>

<!-- subjectScope -->
<div>

<% if (item['tp:subjectScope']) {

	var keywords_string = '';
	
	if (typeof item.keywords === 'string') {
		keywords_string = item['tp:subjectScope'];
	}
	
	if (Array.isArray(item['tp:subjectScope'] )) {
		var keywords = [];
		for (var i in item['tp:subjectScope']) {
			keywords.push(item['tp:subjectScope'][i]);
		}
		keywords_string = keywords.join('; ');
	}
	%>
	
	<spanclass="heading">KEYWORDS:</span>
	<%- keywords_string %>
	<%  
} %>
</div>

<!-- record info -->
<div>
<% if (item['dcterms:modified']) {%>
	Record last updated <%= timer(item['dcterms:modified']) %>
<%}%>
</div>


`;